body {

    background: rgb(226,22,231);
    background: linear-gradient(90deg, rgba(226,22,231,1) 0%, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%); 
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
       
}

#form-container {
    border-radius: 5px;
    margin: 100px;
    width: 35%;
    background-color: white;
    width: 40%;
    height: 300px;
}

h3 {
   color: white;
   text-align: center;
   padding: 0%;
}

#form-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    background-color: black;
    height: 35px;
    align-items: center;
    justify-content: center;
    
}

#form-top {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 20px auto;
}

#form-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#labels, #inputs {
    display: flex;
    flex-direction: column;
}

#send {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    border-radius: 5px;
}

#send p {
    font-style: italic;
    font-weight: 100;
    font-size: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
 }
